/*	===================
		CSS RESET
  	=================== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*	======================
		GLOBAL STYLES
  	====================== */
 
body{
	font-family: arial;
	font-size: 1em; /*1em = 16px*/
	color: #fff;
	background-color: #959DBF;
}

h1 {
	color: #ffffff;
	font-size: 5em;
	text-align: center;
}

h2 {
	color: #000;
	padding: 20px;
}

img {
	display: block;
	width: 100%;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

section {
	background-color: #FFE2B8;

}


/*	======================
		INDIVIDUAL STYLES
  	====================== */

#cover {
	position: relative;
}

#introduction {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#slogan {
	color: #ffffff;
	font-size: 2.5em;
	font-weight: 700;
}

#image-cover {
	background color: rgba(76,175,80,0.5);

}

.story {
	width: 85%;
/*	max-width: 35em;*/
	margin: 0 auto;
	background-color: magenta;
}

.story-left {
	width: 60%;
}

.story-right {
	width: 40%;
}

.story-left {
	float: left;
	position: relative;
}

.story-right {
	float: right;
	position: relative;
}

.media-portrait {
	position: relative;
}


.media-portrait:before {
	content:" ";
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	display: block;
}

.media-portrait figure {
	width: 100%;
	height:100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
}

.media-icon {
	position: absolute;
	bottom: 0;
	width: 50px;
}

.media-icon-left {
	left: 0;
}

.media-icon-right {
	right: 0;
}

.story-blurb {
    line-height: 1.5em;
}

.story-title {
    font-size: 2.5em;


/*.media-left {
position: relative;
right: -20px;
}*/




